@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Norms";
  src: url(/assets/fonts/tt-norms-pro/TT\ Norms\ Pro\ Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "TT Norms";
  src: url(/assets/fonts/tt-norms-pro/TT\ Norms\ Pro\ Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "TT Norms";
  src: url(/assets/fonts/tt-norms-pro/TT\ Norms\ Pro\ Bold.otf);
  font-weight: 700;
}

body {
  font-family: "TT Norms";
  /* @apply bg-neutral-950 text-white; */
}

